<script language="javascript" type="text/javascript">
    //Number of ads to offset the result
    offset_10799 = 0;
    //Request ads for a specific keyword
    keyword_10799 = '';
    //Request ads for a particular publisher subid
    sid_10799='';
    //Pass click through a secondary SEM URL; Substitution parameters are [url], [campaign_id], [unique_hash] and [cpc]
    sem_10799='';
    document.write("<script language='javascript' type='text/javascript' src='//servedby.studads.com/ads/ads.php?t=MTY4ODk7MTA3OTk7c3F1YXJlLnNxdWFyZV9ib3g=&o=" + offset_10799 + "&k=" + escape(keyword_10799)  + "&sid=" + escape(sid_10799) + "&sem=" + escape(sem_10799) + "'><\/sc" + "ript>");
</script>