<!-- JS Plugins + Main script -->
{{ range site.Params.plugins.js}}
<script defer="defer" src="{{ .link | relURL }}" type="application/javascript" {{.attributes | safeHTMLAttr}}></script>
{{ end }}
<script defer="defer" src="/js/script.js" type="application/javascript"></script>

<script src="https://cdn.jsdelivr.net/npm/glightbox@3.1.0/dist/js/glightbox.min.js"></script>
<script type="text/javascript">
  const lightbox = GLightbox();
</script>

<!-- cookie -->
{{ with site.Params.cookies }}
{{ if .enable }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
	{{.content | markdownify}}<span id="js-cookie-button" class="btn btn-sm btn-primary ms-2">{{.button}}</span>
</div>
<script type="application/javascript">
	window.addEventListener('load', function() {
		const cookieBox = document.getElementById('js-cookie-box');
		const cookieButton = document.getElementById('js-cookie-button');
		if (!Cookies.get('cookie-box')) {
			cookieBox.classList.remove('cookie-box-hide');
			cookieButton.onclick = function () {
				Cookies.set('cookie-box', true, {
					expires: {{ .expire_days }}
				});
				cookieBox.classList.add('cookie-box-hide');
			};
		}
	});
</script>

<!-- cookie style -->
<style>
.cookie-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 9999;
  padding: 1rem 2rem;
  background: rgb(71, 71, 71);
  transition: all .75s cubic-bezier(.19, 1, .22, 1);
  color: #fdfdfd;
}

.cookie-box-hide {
  display: none;
}
</style>
{{ end }}
{{ end }}

<!-- font family -->
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
{{$pf:= site.Params.variables.font_primary}}
{{$sf:= site.Params.variables.font_secondary}}
<script type="application/javascript">
  WebFont.load({
    google: {
      families: ['{{$pf | default `Roboto:wght@400`}}{{if not $sf}}&display=swap{{end}}'{{with $sf}},'{{. | default `Roboto:wght@400`}}&display=swap'{{end}}]
    },
    active: () => {
      sessionStorage.fontsLoaded = true
    }
  });
</script>